/* Set gray background color and 100% height */

.height {
    height: 400px;
}

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}


/* Set black background color, white text and some padding */

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}


/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

.card {
    cursor: pointer;
}

.card img:hover {
    padding: 5px;
    background-color: rgb(45, 132, 158);
}

.full-width-div {
    width: 100%;
    height: 80%;
    left: 0;
}

#allCast div {
    cursor: pointer;
}

#allCast div :hover {
    cursor: pointer;
    padding-left: 2px;
    color: rgb(236, 195, 195);
}

body {
    background-color: rgb(100, 95, 95);
}

.pagination a {
    cursor: pointer;
}